<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3">
            <input type="text" 
                class="form-check-input" 
                name="username" 
                [(ngModel)]="model.username"
                placeholder="Username"
                style="width: 200px; height: 30px; border-radius: 5px;"
            >
    </div>
    <div class="mb-3">
        <input type="password" 
            class="form-check-input" 
            name="password" 
            [(ngModel)]="model.password"
            placeholder="Password"
            style="width: 200px; height: 30px; border-radius: 5px;"
        >
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>